
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Valor
            </th>
            <th colspan="2">
                Quantidade
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of produtos">
            <td>{{item.nome}}</td>
            <td>{{item.valorUnitario | currency : 'BRL' : true: '.2' }}</td>
            <td>{{item.quantidade}}</td>
            <td>
                <button class="btn btn-danger float-right mr-2" (click)="abrirModalExclusao(item.id)" ><fa-icon [icon]="faTrash"></fa-icon></button>
                <button class="btn btn-info float-right mr-1" (click)="editar(item.id)"><fa-icon [icon]="faPencil"></fa-icon></button>
            </td>
        </tr>
    </tbody>
</table>

<a [routerLink]="['../novo']" class="btn btn-primary float-right mr-1"><fa-icon [icon]="faNew"></fa-icon>  Novo</a>

<app-modal-confirmar-exclusao 
#modalConfirmarExcluir [produtoNome]="produtoNome"
(confimaExclusao)="excluir($event)">
</app-modal-confirmar-exclusao>