<div>
    <h2>Cadastro de Produto</h2>

    <form novalidate (ngSubmit)="salvarProduto()" [formGroup]="formulario">
        <div class="form-group">
            <label class="form-label col-md-4 control-label">Nome</label>
            <div class="col-md-10">
                <input class="form-control col-4" type="text" formControlName="nome">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label col-md-4 control-label">Valor</label>
            <div class="col-md-10">
                <input class="form-control col-4" type="text" formControlName="valorUnitario">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label col-md-4 control-label">Quantidade</label>
            <div class="col-md-10">
                <input class="form-control col-md-4" type="text" formControlName="quantidade">
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-4">
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </div>
    </form>
</div>